<template>

    <div>

        <div class="row">
            <router-link to="/books" class="btn btn-primary">Все книги</router-link>

        </div>


        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4"> Редактировать книгу</h1>
                                    </div>

                                    <form class="user" @submit.prevent="bookUpdate" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="exampleInputFirstName"
                                                           placeholder="Название" v-model="form.title">
                                                    <small class="text-danger" v-if="errors.title"> {{
                                                            errors.title[0]
                                                        }} </small>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="date" class="form-control" id="exampleInputFirstName"
                                                           placeholder="Год выпуска" v-model="form.year">
                                                    <small class="text-danger" v-if="errors.year"> {{
                                                            errors.year[0]
                                                        }} </small>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="exampleInputFirstName"
                                                           placeholder="Жанр" v-model="form.genre">
                                                    <small class="text-danger" v-if="errors.genre"> {{
                                                            errors.genre[0]
                                                        }} </small>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="exampleInputFirstName"
                                                           placeholder="Автор" v-model="form.author">
                                                    <small class="text-danger" v-if="errors.author"> {{
                                                            errors.author[0]
                                                        }} </small>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                                        </div>

                                    </form>
                                    <hr>
                                    <div class="text-center">


                                    </div>
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>


<script>

export default {


    data() {
        return {
            form: {
                title: '',
                genre: '',
                author: '',
                year: ''
            },
            errors: {}
        }
    },
    created() {
        let id = this.$route.params.id
        axios.get('/api/books/' + id)
            .then(({data}) => (this.form = data))
            .catch(console.log('error'))
    },

    methods: {

        bookUpdate() {
            let id = this.$route.params.id
            axios.patch('/api/books/' + id, this.form)
                .then(() => {
                    this.$router.push({name: 'books'})
                    Notification.success()
                })
                .catch(error => this.errors = error.response.data.errors)
        },
    }


}

</script>



<style>

</style>
