

<template>

    <div>

        <div class="row">
            <router-link to="/store-book" class="btn btn-primary">Добавить книгу </router-link>

        </div>
        <br>
        <input type="text" v-model="searchTerm" class="form-control" style="width: 300px;" placeholder="Search Here">


        <br>

        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">book List</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th>Название</th>
                                <th>Автор</th>
                                <th>Жанр</th>
                                <th>Год выпуска</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="book in filtersearch" :key="book.id">
                                <td> {{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.genre }}</td>
                                <td>{{ book.year }}</td>
                                <td>
                                    <router-link :to="{name: 'edit-book', params:{id:book.id}}"
                                                 class="btn btn-sm btn-primary">Редактировать
                                    </router-link>

                                    <a @click="deleteBook(book.id)" class="btn btn-sm btn-danger"><font
                                        color="#ffffff">Удалить</font></a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <!--Row-->



    </div>


</template>



<script type="text/javascript">

export default {

    data(){
        return{
            books:[],
            searchTerm:''
        }
    },
    computed:{


        filtersearch(){
            return this.books.filter(book => {
                return book.title.match(this.searchTerm)
            })
        }
    },

    methods:{
        allBooks(){
            axios.get('/api/books/')
                .then(({data}) => (this.books = data))
                .catch()


        },
        deleteBook(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.delete('/api/books/'+id)
                        .then(() => {
                            this.books = this.books.filter(book => {
                                return book.id != id
                            })
                        })
                        .catch(() => {
                            this.$router.push({name: 'books'})
                        })
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })

        }

    },
    created(){
        this.allBooks();
    }


}
</script>


<style type="text/css">
#em_photo{
    height: 40px;
    width: 40px;
}
</style>
