
<template>
	<div>
        <h1>Home Component</h1>


          <!--Row-->
	</div>

</template>



<script type="text/javascript">

export default {





}
</script>


<style type="text/css">

</style>
